  /* Custom CSS */
      /* Custom container */
      .center {
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;
      }

      .container-wrap{

        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        width: 90%;
        min-width: 300px;
        max-width: 800px;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
      }

      .container-white {
        width: 90%;
        min-width: 300px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;

        border-style:solid; border-width:1px; border-color:#EDEDED; background-color: white; margin-bottom:40px; 
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        /*-moz-box-shadow: 0 0 30px 5px #999; -webkit-box-shadow: 0px 0px 15px 0px #CCC; */ /*for drop shadow/glow effect*/
      }
      .container-white > hr {
        margin: 30px 0;
      }

      .masthead {
        position: relative; top: 30px;
        padding-bottom: 20px;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        /*margin: 60px 0;*/
        margin-top: 20px;
        margin-bottom:-10px;"
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      /*added things */
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-top: 0px; /*added*/
      padding-bottom: 0px;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: relative;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .container-narrow-footer {
        margin: auto;
        max-width: 800px;
      }

    .container-product
      {
        min-height: 250px;
        height:auto !important;
        height:260px; 
        overflow:auto;
      }

    .footer-upper {
      width: 100%;
      padding-top: 6px;
      /*min-height: 150px;*/
      text-shadow: 0 -1px 0 rgba(0,0,0,.5); /*x, y, blur radius, colour */
      background-image:url('../img/bg_footer.png');
      background-color:#222222;
      border-top-style:solid; border-width:4px; border-color: #1BA9D8;
    }

    .footer-upper h5 {
      color: #1BA9D8;
      font-family: "Museo500",Helvetica,Arial,sans-serif;
    }

    .footer-upper address{
      color: #AAA;
    }

    .footer-upper p{
      color: #AAA;
    }


    .footer-lower {
      width: 100%;
      color:#777;
      text-shadow: 0px 0px 1px #111; /*x, y, blur radius, colour */
      background-color:#111;
      border-top-style:solid; border-width:1px; border-color:#222;
      padding-top: 5px;
    }

/*25/04/13 - Custom Fonts */

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  p, dl, ul, ol, li {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-size: 13px;
  }

  strong {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-style: bold;
  }

  .btn, .control-group {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: ;
    font-size: 12px;
  }

/* New Look Carousel */

.carousel p {
	font-size: 14px;
}

.carousel h1 {
	margin-top, margin-bottom: 5px;
	margin-top: 0;
	color: #fff;
	line-height: 1;
	font-size: 17px;
}

.carousel-caption {
  	background-color:rgba(0,0,0,0.6);
}

.carousel-control {
	  background-color: transparent ;
  	border: 0;
  	font-size: 50px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

 #mainmenu .btn {
	font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding-left: 12px;
    padding-right:  12px;
}



/*.productslide {
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
}*/

.select {
        -webkit-box-shadow: 0 2px 10px rgba(100,180,240,1);
        -moz-box-shadow: 0 2px 10px rgba(100,180,240,1);
        box-shadow: 0 2px 10px rgba(100,180,240,1);  
        background-color: white;      
}

/*.details{
    position:relative;
}
.hiddentext1{
    display:none;
}
.hiddentext2{
    display:none;
}
.hiddentext3{
    display:none;
}*/

/*To the top */
#toTop {
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
        width:25px;
        border:1px solid #005580;
        background:#0088cc;

        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:30px; /* together with this to put the div at the bottom*/
        right:30px;
        cursor:pointer;
        display:none;
        color:#333;
        font-family: 'Lato', sans-serif;
        font-size:11px;
        opacity: 0.7;
        z-index: 100;
}

/*Membership box effects */
.box {
        background-color:#f8f8f8;
        margin-top: 20px;
        padding-top: 6px;
        padding-left: 10px; 
        padding-right:10px;
        padding-bottom:10px;
        margin-bottom: 20px;

        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;

        -webkit-box-shadow: 0 2px 5px rgba(33,33,33,0.4);
        -moz-box-shadow: 0 2px 5px rgba(33,33,33,0.4);
        box-shadow: 0 2px 5px rgba(33,33,33,0.4);
}

/* Address Font */
address {
  font-family: 'Century Gothic', sans-serif;

}

/* Ribbons */
.wrapper {
  position: relative;
  z-index: 90;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: -4px;
}

.ribbon {
  font-size: 13px;
  font-family: 'Century Gothic', sans-serif;
  color: #EEE;
  text-align: center;
  text-shadow: rgba(30,30,30,0.45) 2px 2px 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #505050;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

.ribbon-red {
  background-color: #CC0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF1010)), to(#B90000)); 
  background-image: -webkit-linear-gradient(top, #FF1010, #B90000); 
  background-image:    -moz-linear-gradient(top, #FF1010, #B90000); 
  background-image:     -ms-linear-gradient(top, #FF1010, #B90000); 
  background-image:      -o-linear-gradient(top, #FF1010, #B90000); 
}

.ribbon-blue {
  background-color: #0088CC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088CC), to(#0044CC)); 
  background-image: -webkit-linear-gradient(top, #0088CC, #0044CC); 
  background-image:    -moz-linear-gradient(top, #0088CC, #0044CC); 
  background-image:     -ms-linear-gradient(top, #0088CC, #0044CC); 
  background-image:      -o-linear-gradient(top, #0088CC, #0044CC); 
}

/* 14/05/13 - Fix tabbed content cutting off content */

.tab-content {
overflow: visible;                      /*Stopped tabbed content effects being cut ouff */
}

.details {                              /* Spacing for product details content*/
  padding-left:19px; 
  padding-right:19px;
}

.btn-description, .btn-specification {  /* Set widths of specification/description buttons */
  width:50%;      
}

.description {
  padding-top: 10px;
}

.specification {                        /* Set specification to be same size as description. */
  padding-top: 18px;
  padding-bottom: 8px;
}

.productslide {
  margin-bottom: 20px;
}