  /* Custom CSS */
      /* Custom container */
      .center {
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;
      }

      .container-wrap{

        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        width: 90%;
        min-width: 300px;
        max-width: 800px;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
      }

      .container-white {
        width: 90%;
        min-width: 300px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;

        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;

        border-style:solid; border-width:1px; border-color:#EDEDED; background-color: white; margin-bottom:40px; 
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        /*-moz-box-shadow: 0 0 30px 5px #999; -webkit-box-shadow: 0px 0px 15px 0px #CCC; */ /*for drop shadow/glow effect*/
      }
      .container-white > hr {
        margin: 30px 0;
      }

      .masthead {
        position: relative; top: 30px;
        padding-bottom: 20px;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        /*margin: 60px 0;*/
        margin-top: 20px;
        margin-bottom:-10px;"
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      /*added things */
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-top: 0px; /*added*/
      padding-bottom: 0px;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: relative;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /*
    .news-head{
      min-height: 38px;

      padding-bottom: 3px;
    }
    */


    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class 
    .carousel {
      margin-bottom: 15px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

    }

    .carousel-control {
      background-color: transparent;
      border: 0;
      font-size: 50px;
      margin-top: 0;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel .item {
      height: 350px;
    }

    .carousel img {
      width: 100%;
      height: 350px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .carousel-caption {
      background-color: transparent;


      width: 90%;
      max-width: 750px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.2;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 5px;
      margin-bottom: 10px; */
    }

    .container-narrow-footer {
        margin: auto;
        max-width: 800px;
      }

    .container-product
      {
        min-height: 250px;
        height:auto !important;
        height:260px; 
        overflow:auto;
      }

    .footer-upper {
      width: 100%;
      padding-top: 6px;
      /*min-height: 150px;*/
      text-shadow: 0 -1px 0 rgba(0,0,0,.5); /*x, y, blur radius, colour */
      background-image:url('../img/bg_footer.png');
      background-color:#222222;
      border-top-style:solid; border-width:4px; border-color: #1BA9D8;
    }

    .footer-upper h5 {
      color: #1BA9D8;
      font-family: "Museo500",Helvetica,Arial,sans-serif;
    }

    .footer-upper address{
      color: #AAA;
    }

    .footer-upper p{
      color: #AAA;
    }


    .footer-lower {
      width: 100%;
      color:#777;
      text-shadow: 0px 0px 1px #111; /*x, y, blur radius, colour */
      background-color:#111;
      border-top-style:solid; border-width:1px; border-color:#222;
      padding-top: 5px;
    }

/*25/04/13 - Custom Fonts */

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  p {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-size: 13px;
  }

  strong {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-style: bold;
  }

  .btn, .control-group {
  	font-family: 'Century Gothic', sans-serif;
    font-weight: ;
    font-size: 12px;
  }

 /* .carousel{
  	padding-right: 0px;
  }

  .carousel-caption {
  	background-color:rgba(0,0,0,0.5);
  	padding: 20px;
  	margin: 0px;
  	width: 100%;
  	max-width: none;
  }

  .carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}

.carousel-caption {
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 15px;
background: #333333;
background: rgba(0, 0, 0, 0.75);
}*/

.carousel p {
	font-size: 14px;
}

.carousel h1 {
	margin-top, margin-bottom: 5px;
	margin-top: 0;
	color: #fff;
	line-height: 1;
	font-size: 17px;
}

.carousel-caption {
  	background-color:rgba(0,0,0,0.6);
}

.carousel-control {
	background-color: transparent ;
  	border: 0;
  	font-size: 50px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }


